@mixin font($size, $height, $weight: 400, $style: normal) {    
    font-size: $size;
    line-height: $height;    
    font-weight: $weight;
    font-style: $style;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-s-b-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}