$pink: #F1E4E6;
$bittersweet: #FF6A6A;
$smoky-pink: #F8F3F4;
$dark-pink: #F16D7F;
$gray: #9F9F9F;
$smoky-gray: #F8F8F8;
$gainsborough: #E1E1E1;
$light-gray: #B1B1B1;
$dull-gray: #6F6E6E;
$white: #FFFFFF;
$white-aluminum: #A4A4A4;
$black: #222222;
$brown: #474040;

$desktop-width: 1600px;
$width-1024: 1024px;
$tablet-width: 768px;
$width-480: 480px;
$mobile-width: 375px;