.advantages {
    background-color: $black;
    
    &__list {
        padding: 10px 0;

        @include flex-s-b-c();
        min-height: 341px;

        @include tablet {
            flex-direction: column;
            padding: 48px 0 16px;
        }

        @include mobile {
            padding: 48px 8px 34px;
        }
    }
    
    &__item {
        width: 360px;
        text-align: center;
        margin: 0 10px 0 0;

        @include tablet {
            margin: 0 0 48px;
        }

        @include mobile {
            margin: 0 0 47px;
            width: 100%;
        }

        &-car {
            fill: $dark-pink;
            margin: 0 auto 28px;
            display: block;

            @include mobile {
                width: 43px;
                height: 31px;
                margin: 0 auto 27px;
            }
        }

        &-discounts {
            fill: $dark-pink;
            margin: 0 auto 20px;
            display: block;

            @include mobile {
                width: 39px;
                height: 39px;
                margin: 0 auto 18px;
            }
        }

        &-crown {
            fill: $dark-pink;
            margin: 0 auto 25px;
            display: block;

            @include mobile {
                width: 45px;
                height: 34px;
                margin: 0 auto 24px;
            }
        }

        &-heading {
            color: $white;
            @include font(20px, 24px);            
            margin: 0 0 16px;

            @include mobile {
                margin: 0 0 15px;
            }
        }
        
        &-text {
            color: $white;
            @include font(14px, 17px, 300);            
        }
    }    
}